.highlight {
  background-color: #fed7aa66;
  position: relative;
  color: #9ca3af;
}

.cooky-selecting-paragraph {
  z-index: 2;
  position: relative;
}

.cooky-selecting-paragraph a {
  pointer-events: none;
}

.highlight::selection, .cooky-selecting-paragraph::selection {
  background-color: #fb923c4d;
  color: #fb923c;
}

@property --percentage {
  syntax: '<percentage>';
  initial-value: 10%;
  inherits: false;
}

@property --color1 {
  syntax: '<color>';
  initial-value: rgba(251,146,60,1);
  inherits: false;
}

@property --color2 {
  syntax: '<color>';
  initial-value: rgba(251,146,60,0.3);
  inherits: false;
}

cooky-selection {
  background: linear-gradient(0deg, var(--color1) 0%, var(--color1) var(--percentage), var(--color2) var(--percentage), var(--color2) 100%);
  transition: --percentage 0.3s ease-in-out, --color1 0.3s ease-in-out, --color2 0.3s ease-in-out;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
}

.cooky-selecting-paragraph cooky-selection:hover {
  --percentage: 20%;
  --color1: rgba(248, 113, 113, 1);
  --color2: rgba(248, 113, 113, 0.3);
  cursor: pointer;
}

cooky-selection[id^='cooky-selection-']::after {
  content: attr(data);
  display: inline-block;
  font-size: 0.75rem;
}

.cooky-selection-paragraph::after {
  content: attr(data);
  display: block;
  font-size: inherit;
  border-left: 0.25rem solid #fb923c;
  padding-left: 0.5rem;
  margin-top: 0.75rem;
  white-space: pre-wrap;
}
