@tailwind base;
@tailwind components;
@tailwind utilities;

cooky-translator {
  position: fixed;
  width: 0;
  height: 0;
  inset: auto;
  isolation: isolate;
  z-index: 99
}

.element-bounding {
  @apply bg-orange-400/20 absolute transition-all duration-300 rounded-lg cursor-pointer;
}

.element-bounding.block {
  @apply bg-red-400/20 cursor-not-allowed;
}

.element-bounding.fixed {
  @apply bg-transparent cursor-default overflow-hidden;
}

.fixed > .confirm {
  @apply w-6 h-6 bg-orange-400 absolute rounded-full -right-2 -bottom-2 transition-all cursor-pointer;
}

.fixed > .cancle {
  @apply w-6 h-6 bg-red-400 absolute rounded-full -left-2 -top-2 transition-all cursor-pointer;
}

.fixed > .confirm:hover {
  @apply w-20 h-20 -right-4 -bottom-4 z-[1];
}

.fixed > .cancle:hover {
  @apply w-20 h-20 -left-4 -top-4 z-[1];
}

.float-dot {
  @apply h-2 w-2 rounded-full bg-orange-300 outline-orange-300 transition-all cursor-pointer;
}

.float-dot:hover {
  @apply outline outline-2 outline-offset-2;
}