@tailwind base;
@tailwind components;
@tailwind utilities;

cooky-translator {
  position: fixed;
  width: 0;
  height: 0;
  inset: auto;
  isolation: isolate;
  z-index: 99
}

.absolute {
  position: absolute;
  transition: all .3s ease-in-out;
}

.float-dot {
  @apply h-2 w-2 rounded-full bg-orange-300 outline-orange-300 transition-all cursor-pointer;
}

.float-dot:hover {
  @apply outline outline-2 outline-offset-2;
}